<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    在一个给定的文本中，你需要对数字进行求和，同时排除构成一个词的任何数字。
</p>

<p>该文本由数字、空格和英文字母组成。</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}sum-numbers.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个字符串 <span>{% if is_js %}(string){% else %}(str){% endif %}</span>.
</p>

<p>
   <strong>输出：</strong>一个整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

